<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>ToDo 상세 보기</title>
</head>

<body>
    <h2>ToDo 상세 보기</h2>
    <table border="1">
        <tr>
            <th>ID</th>
            <td th:text="${todo.id}"></td>
        </tr>
        <tr>
            <th>닉네임</th>
            <td th:text="${todo.uId}"></td>
        </tr>
        <tr>
            <th>제목</th>
            <td th:text="${todo.todo}"></td>
        </tr>
        <tr>
            <th>기한</th>
            <td th:text="${todo.deadline != null ?
                #temporals.format(todo.deadline, 'yyyy-MM-dd HH:mm') : '기한 없음'}"></td>
        </tr>
        <tr>
            <th>상세 보기</th>
            <td th:text="${todo.detail}"></td>
        </tr>
        <tr>
            <th>등록 일시</th>
            <td th:text="${createdAtFormatted}">
            </td>
        </tr>
        <tr>
            <th>업데이트 일시</th>
            <td th:text="${updatedAtFormatted}">
            </td>
        </tr>
        <tr th:if="${todo.latitude != null and todo.longitude != null}">
            <th colspan="2">위치 정보</th>
        </tr>
        <tr th:if="${todo.latitude != null and todo.longitude != null}">
            <td colspan="2">
                <div id="map" style="width: 100%; height: 200px;"></div>
            </td>
        </tr>
    </table>
    
    <a th:href="@{/todos/edit/{id}(id=${todo.id})}">편집</a>
    
    <form th:action="@{/todos/delete/{id}(id=${todo.id})}" method="post" style="display: inline;">
        <input type="submit" value="삭제">
    </form>

    <br><br>
    
    <a th:href="@{/todos}">ToDo 목록으로</a>

    <a th:href="@{/todos/welcome}">Home으로</a>

    <script th:if="${todo.latitude != null and todo.longitude != null}" th:inline="javascript">
        window.onload = function () {
            const lat = /*[[${todo.latitude}]]*/ null;
            const lng = /*[[${todo.longitude}]]*/ null;
            const container = document.getElementById('map');
            const options = {
                center: new kakao.maps.LatLng(lat, lng),
                level: 4
            };
            const map = new kakao.maps.Map(container, options);
            const marker = new kakao.maps.Marker({
                map: map,
                position: new kakao.maps.LatLng(lat, lng),
                title: '할 일 위치'
            });

            const infowindow = new kakao.maps.InfoWindow({
                content: `<div>[[${todo.todo}]]</div>`
            });

            kakao.maps.event.addListener(marker, 'click', function () {
                infowindow.open(map, marker);
            });
        };
    </script>
</body>

</html>